body {
  background-color: #f4f4f4;
}

.app {
  width: 300px;
  margin: 0 auto;
  padding: 15vh 0;
  text-align: center;
  color: #454545;
}

h1 {
  margin-bottom: 2em;
}

.content {
  text-align: left;
  margin-bottom: 30%;
}

.formItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}

button {
  border: none;
  padding: 1em 3em;
  margin-bottom: 2em;
  color: #454545;
  box-shadow: 5px 5px 10px #c8c9cc,
  -5px -5px 10px #ffffff;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  box-shadow: inset 1px 1px 20px #c8c9cc,
  inset -1px -1px 20px #ffffff;
  opacity: .5;
}

